form {
  width: 50%;
  margin:auto;
}
label {
  width:25%;
}
label, input {
  display: inline-block;
}
input {
  width: 75%;
}
input[type=submit] {
  width:100%;
}

.gif-of-the-moment {
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
.gif-of-the-moment img {

}
